{% extends "base.html" %}

{% block content %}
  <h1>Вибір дисциплін для Семестру {{ semester }}</h1>
  
  <ul>
    {% for course in available_courses %}
      <li>{{ course.name }} - Викладач: {{ course.professor.name }}
        <form method="post" action="{% url 'semester_course_selection' semester %}">
          {% csrf_token %}
          <input type="hidden" name="course_id" value="{{ course.id }}">
          <input type="number" name="priority" min="1" max="5" required>
          <button type="submit">Подати заявку</button>
        </form>
      </li>
    {% empty %}
      <li>На даний момент немає доступних курсів.</li>
    {% endfor %}
  </ul>
{% endblock %}
